.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 100px 300px;
}

.container-unique {
    padding: 100px 550px;

}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 30px;
    width: 300px
}

.NYC{
    background-color: indianred;

}

.LDN{
    background-color: skyblue;
}

.PAR{
    background-color: darkcyan;
}
