
@{
    ViewBag.Title = "Links";
}

<h1>Social Media Links</h1>

<a href="@ViewBag.Youtube">Youtube</a>
<a href="@ViewBag.Facebook">Facebook</a>
<a href="@ViewBag.Instagram">Instagram</a>
<a href="@ViewBag.Twitter">Twitter</a>
