@{
    ViewBag.title = "Contact";
}

<h1>Contact page</h1>
<p>Welcome to Contact page</p>

@section footerSection{
    <p>Contact Support: +32423532432</p>
    <script src="arquivoEspecifico.js"></script>
}