@model CityWeather
    <h1>City Weather</h1>

@{
   <div class="container-unique">

    <div class="@Model.CityUniqueCode box">
        <div>
            <p>@Model.CityName</p>
            <p>@Model.DateAndTime</p>

        </div>
        <div>
            <p>@Model.TemperatureFahrenheit F</p>
        </div>

    </div>
    <a href="/">Back to home page</a>
    </div>
} 


<

   