<!DOCTYPE html>
<html>
    <head>
    @*<title>@ViewData["appTitle"]</title>*@
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>